*{
    margin:0px;
    padding:0px;
}
.space{
    padding:5px;
}
.title{
    display:flex;
}
.title >img{
    margin-top:5px;
    border :2px solid black;
}
.bg-color {
    background-color: #633fe6;
}
.carousel-inner img {

        width: 100%;
        height: 100%;
    }
.carousel-item >img {
    /* margin:auto; */
    height:auto;
    border: 2px solid blue;
}
.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    width: 5%;
    color: black;
}
.card{
    border: 1px solid rgb(66, 64, 64);
    box-shadow: 5px 3px 5px 5px grey;
}
.footer{
    background-color:grey;
    /* display:flex; */
}
.one{
    display:flex;
    justify-content:flex-start;
}
.two{
    display: flex;
    justify-content: flex-end;
}
.three{
    display: flex;
    justify-content: flex-end;
}
.five{
    /* display:flex; */
    justify-content: flex-end;
}
.six{
    height:60px;
}
.seven{
    border:1px solid black;
}


 @media screen and  (max-width: 576px) {
    .one{
        justify-content: center;
    }
    .two{
        justify-content: center;
    }
    .three{
        justify-content: center;
    } 
    .five{
        justify-content:center;
    }
    .six{
        height:50px;
    }
    .seven{
        padding-top:10px;
       border:none;
    }
    .eight{
        padding-top:10px;
    }
 }
 @media screen and  (min-width: 576px) {
    .one{
        display: flex; 
    }
    .two{
        display: flex;
        justify-content: flex-end;
    }
    .three{
        display: flex;
        justify-content: flex-end;
    } 
    .four{
        display: flex;
        justify-content: center;
    }
    .five{
        justify-content:flex-end;
    }
    .six{
       height:70px;
    }
    .seven{
        border:1px solid black;
    }
 }
 